@font-face {
  font-family: 'AvenirNextPro';
  src: url(../../public/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'SourceSansPro';
  src: url(../../public/fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url(../../public/fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../../public/fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: 'MontserratLight';
  src: url(../../public/fonts/Montserrat-Light.otf);
}

@font-face {
  font-family: 'MontserratHairline';
  src: url(../../public/fonts/Montserrat-Hairline.otf);
}